<a href="https://colab.research.google.com/github/varun1920/Machine-Learning01/blob/master/tensor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import pandas as pd
import io
import 
COLUMN_NAMES = [
        'SepalLength', 
        'SepalWidth',
        'PetalLength', 
        'PetalWidth', 
        'Species'
        ]

In [62]:
from google.colab import files
uploaded =files.upload()

Saving Iris.csv to Iris (2).csv

In [65]:
training_dataset= pd.read_csv('Iris (2).csv',names=COLUMN_NAMES)
training_dataset.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

In [0]:
# Import training dataset
# training_dataset = pd.read_csv('iris.csv', names=COLUMN_NAMES, header=0)
train_x = training_dataset.iloc[:, 0:4]
train_y = training_dataset.iloc[:, 4]

In [59]:
from google.colab import files
uploaded =files.upload()

Saving iris_test2.csv to iris_test2 (2).csv

In [66]:
test_dataset=pd.read_csv('iris_test2 (2).csv',names=COLUMN_NAMES)
test_dataset

    SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0           7.7         2.6          6.9         2.3        2
1           5.8         2.7          4.1         1.0        1
2           4.4         3.0          1.3         0.2        0
3           4.7         3.2          1.6         0.2        0
4           5.7         3.8          1.7         0.3        0
5           5.7         2.9          4.2         1.3        1
6           5.1         2.5          3.0         1.1        1
7           6.8         3.2          5.9         2.3        2
8           4.3         3.0          1.1         0.1        0
9           6.4         3.2          4.5         1.5        1
10          4.8         3.0          1.4         0.1        0
11          5.9         3.0          4.2         1.5        1
12          4.9         2.5          4.5         1.7        2
13          5.7         4.4          1.5         0.4        0
14          5.8         4.0          1.2         0.2        0
15          5.1         3.3          1.7         0.5        0
16          5.4         3.9          1.3         0.4        0
17          6.3         3.3          4.7         1.6        1
18          6.7         3.3          5.7         2.1        2
19          6.7         3.3          5.7         2.5        2
20          5.0         3.4          1.5         0.2        0
21          5.2         4.1          1.5         0.1        0
22          5.4         3.4          1.5         0.4        0
23          6.2         2.2          4.5         1.5        1
24          5.6         2.5          3.9         1.1        1
25          5.1         3.8          1.9         0.4        0
26          6.7         3.1          5.6         2.4        2
27          6.4         2.9          4.3         1.3        1
28          5.7         3.0          4.2         1.2        1
29          7.2         3.2          6.0         1.8        2
30          5.8         2.6          4.0         1.2        1
31          5.5         2.4          3.8         1.1        1
32          5.7         2.6          3.5         1.0        1
33          5.7         2.8          4.1         1.3        1
34          4.7         3.2          1.3         0.2        0
35          6.9         3.1          5.1         2.3        2
36          4.8         3.1          1.6         0.2        0
37          4.8         3.4          1.6         0.2        0
38          5.1         3.5          1.4         0.2        0
39          5.0         3.3          1.4         0.2        0
40          4.4         3.2          1.3         0.2        0
41          6.5         2.8          4.6         1.5        1
42          6.5         3.0          5.2         2.0        2
43          7.4         2.8          6.1         1.9        2
44          5.5         2.6          4.4         1.2        1
45          4.9         3.1          1.5         0.1        0
46          7.9         3.8          6.4         2.0        2
47          6.3         2.7          4.9         1.8        2
48          7.1         3.0          5.9         2.1        2
49          6.3         2.9          5.6         1.8        2

In [0]:
# Setup feature columns
columns_feat = [
    tf.feature_column.numeric_column(key='SepalLength'),
    tf.feature_column.numeric_column(key='SepalWidth'),
    tf.feature_column.numeric_column(key='PetalLength'),
    tf.feature_column.numeric_column(key='PetalWidth')
]

In [0]:
# Import testing dataset
# test_dataset = pd.read_csv('iris_test.csv', names=COLUMN_NAMES, header=0)
test_x = test_dataset.iloc[:, 0:4]
test_y = test_dataset.iloc[:, 4]

In [0]:
# Define train function
def train_function(inputs, outputs, batch_size):
    dataset = tf.data.Dataset.from_tensor_slices((dict(inputs), outputs))
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)
    return dataset.make_one_shot_iterator().get_next()

In [74]:
# Build Neural Network - Classifier
classifier = tf.estimator.DNNClassifier(
    feature_columns=columns_feat,
    # Two hidden layers of 10 nodes each.
    hidden_units=[10, 10],
    # The model is classifying 3 classes
    n_classes=3)
# Train the Model.
classifier.train(
    input_fn=lambda:train_function(train_x, train_y, 100),
    steps=1000)

W0627 19:19:26.539206 140206144911232 estimator.py:1811] Using temporary folder as model directory: /tmp/tmpsxduiz5r
W0627 19:19:27.038865 140206144911232 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0627 19:19:27.235194 140206144911232 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/array_ops.py:1354: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
# Define evaluation function
def evaluation_function(attributes, classes, batch_size):
    attributes=dict(attributes)
    if classes is None:
        inputs = attributes
    else:
        inputs = (attributes, classes)
    dataset = tf.data.Dataset.from_tensor_slices(inputs)
    assert batch_size is not None, "batch_size must not be None"
    dataset = dataset.batch(batch_size)
    return dataset.make_one_shot_iterator().get_next()

In [79]:
# Evaluate the model.
eval_result = classifier.evaluate(
    input_fn=lambda:evaluation_function(test_x, test_y, 100))
print(eval_result)

{'accuracy': 1.0, 'average_loss': 0.026356721, 'loss': 1.317836, 'global_step': 1000}